@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff8e3;
    height: 100vh;
    font-size: 1.5rem;
}

/* Header */
/*Navigation Bar */
.nav-bar {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;;
    background-color: #BDB395;
    display: inline-flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}
.nav-item {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.nav-item ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.nav-item a {
    color: #756d55;
    text-decoration: none;
    text-align: center;
}

.nav-item a:hover {
    border: 2px solid #29261d;
    color: #29261d;
    border-radius: 4px;
}
/*Navigation Bar */
/*Logo*/
.logo-title {
    display: flex;
    gap: 1rem;
    padding-left: 5%;
}
/*Logo*/
/* Header */

.container {
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Introduction Paragraph */
.introduction {
    padding-top: 2%;
}

.introduction p {
    padding-top: 20px;
    text-align: justify;
}

.introduction hr {
    margin-top: 20px;
    height: 2px;
    background-color: #29261d;
}

/* Introduction Paragraph */

/* Search Books */
.search-books {
    text-align: center;
    width: 100%;
    padding-top: 2%;
}

#search-input {
    width: 50%;
    margin-top: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1rem;
    font-style: italic;
    border: 5px solid #887d5f;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f3efea;
}

.result-container {
    position: absolute;
    width: 40%;
    height: 40%;
    left: 30%;
    border: 5px solid #887d5f;
    border-top: none;
    background-color: #f3efea;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    box-sizing: border-box;
    display: none;
}

.result {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    cursor: pointer;
    padding-top: 2%;
    padding-left: 2%;
}

.result:hover {
    background-color: #e7dcce;
}

.result img {
    width: 20%;
    height: auto;
    border-radius: 5px;
}

.result div {
    max-width: 60%;
}

.result div p {
    font-size: 2rem;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result div span {
    font-size: 1.1rem;
    font-style: italic;
}

/* Search Books */

/* Filter Books */
.sort-books {
    width: 100%;
    padding-top: 2%;
}

#filter {
    position: relative;
    margin-left: 1rem;
    width: 15%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 5px solid #887d5f;
    background-color: #f3efea;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

#filter option {
    font-size: 1rem;
}

.sort-books > form > input {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-left: 1rem;
    font-size: 1rem;
    border: 6px solid #D5C7A3;
    border-radius: 10px;
    background-color: #D5C7A3;
    color: #756d55;
    cursor: pointer;
    box-sizing: border-box;
}

.sort-books > form > input:hover {
    background-color: #a79c81;
    border: 6px solid #a79c81;
}

/* Filter Books */

/* Book Cards */
.book-cards {
    width: 100%;
}

.cards {
    padding-top: 2%;
    padding-bottom: 4rem;
}

.cards img {
    float: left;
    padding: 0.5rem 1rem 1rem 0.5rem;
}

.cards p {
    text-align: justify;
}

.cards p a {
    text-decoration: none;
    color: #aaaaff;
}

.cards p a:hover {
    text-decoration: none;
    color: #69699b;
}

.star {
    color: black;
}
.filled {
    color: #f50303dc;
}
/* Book Cards */

/* footer */
footer {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #a8a6a6;
}
/* footer */